# <span style="color:#336699">Web Land Trajectory Service - Python Client API [<img src="../img/bdc-logo.png" alt="Brazil Data Cube - Python Sample Client" style="height:100px;" align="right">](https://github.com/brazil-data-cube/sample.py)</span>



<hr style="border:2px solid #0077b9;">

# <span style="color:#336699"> Examples o wlts.py</span>

###  Import the required libraries 
<hr style="border:1px solid #0077b9;">

In [1]:
import wlts

#### After that, you can check the installed version of wlts client package:

In [2]:
wlts.__version__

'0.2.0'

#### Create wlts object by passing the URL of WLTS service.

In [3]:
wlts_ob = wlts.wlts('http://brazildatacube.dpi.inpe.br/wlts/')

###  WLTS operations
<hr style="border:1px solid #0077b9;">

#### Retrive the collections avaliable in WLTS

In [4]:
wlts_ob.list_collections()

{'collections': ['deter_amz_legal',
  'deter_cerrado',
  'prodes_cerrado',
  'terraclass_amz',
  'prodes_amz_legal',
  'mapbiomas_amz_4_1',
  'mapbiomas_cerrado_4_1']}

#### Retrive metadata of a givin collection

In [5]:
wlts_ob.describe_collection(collection_id="prodes_cerrado")

{'collection_type': 'Feature',
 'description': 'Desmatamento Cerrado',
 'detail': 'http://www.obt.inpe.br/OBT/assuntos/programas/amazonia/prodes',
 'name': 'prodes_cerrado',
 'period': {'end_date': '2019', 'start_date': '2000'},
 'resolution_unit': {'unit': 'YEAR', 'value': '1'},
 'spatial_extent': {'xmax': -24.6851196289062,
  'xmin': -60.0939559936523,
  'ymax': -2.32670903205872,
  'ymin': -41.5224685668945}}

### Examples o Land Use and Cover Trajectory using WLTS

#### Import pandas library

In [6]:
import pandas as pd

### Exemple of trajectory at location latitude -8.706 and longitude -64.285

In [7]:
trajetoria = wlts_ob.trajectory(dict(latitude=-8.706, longitude=-64.285))

In [8]:
df_traj = pd.DataFrame.from_dict(trajetoria['result']['trajectory'])
df_traj

           class         collection  date
0       Floresta     terraclass_amz  2004
1   Desmatamento   prodes_amz_legal  2007
2       Pastagem  mapbiomas_amz_4_1  2007
3    Pasto Limpo     terraclass_amz  2008
4       Pastagem  mapbiomas_amz_4_1  2008
5       Pastagem  mapbiomas_amz_4_1  2009
6    Pasto Limpo     terraclass_amz  2010
7       Pastagem  mapbiomas_amz_4_1  2010
8       Pastagem  mapbiomas_amz_4_1  2011
9    Pasto Limpo     terraclass_amz  2012
10      Pastagem  mapbiomas_amz_4_1  2012
11      Pastagem  mapbiomas_amz_4_1  2013
12   Pasto Limpo     terraclass_amz  2014
13      Pastagem  mapbiomas_amz_4_1  2014
14      Pastagem  mapbiomas_amz_4_1  2015
15      Pastagem  mapbiomas_amz_4_1  2016
16      Pastagem  mapbiomas_amz_4_1  2017
17      Pastagem  mapbiomas_amz_4_1  2018

In [9]:
trajetoria_two = wlts_ob.trajectory(dict(latitude=-4.090, longitude=-63.353))

In [10]:
df_traj_two = pd.DataFrame.from_dict(trajetoria_two['result']['trajectory'])
df_traj_two

                 class         collection  date
0          Hidrografia     terraclass_amz  2004
1          Hidrografia   prodes_amz_legal  2007
2   Rio, Lago e Oceano  mapbiomas_amz_4_1  2007
3          Hidrografia     terraclass_amz  2008
4   Rio, Lago e Oceano  mapbiomas_amz_4_1  2008
5   Rio, Lago e Oceano  mapbiomas_amz_4_1  2009
6          Hidrografia     terraclass_amz  2010
7   Rio, Lago e Oceano  mapbiomas_amz_4_1  2010
8   Rio, Lago e Oceano  mapbiomas_amz_4_1  2011
9          Hidrografia     terraclass_amz  2012
10  Rio, Lago e Oceano  mapbiomas_amz_4_1  2012
11  Rio, Lago e Oceano  mapbiomas_amz_4_1  2013
12         Hidrografia     terraclass_amz  2014
13  Rio, Lago e Oceano  mapbiomas_amz_4_1  2014
14  Rio, Lago e Oceano  mapbiomas_amz_4_1  2015
15  Rio, Lago e Oceano  mapbiomas_amz_4_1  2016
16  Rio, Lago e Oceano  mapbiomas_amz_4_1  2017
17  Rio, Lago e Oceano  mapbiomas_amz_4_1  2018

In [11]:
trajetoria_three = wlts_ob.trajectory(dict(latitude=-10.710, longitude=-55.612, collections='terraclass_amz,mapbiomas_amz_4_1,prodes_amz_legal'))
df_traj_three = pd.DataFrame.from_dict(trajetoria_three['result']['trajectory'])

In [12]:
df_traj_three

                     class         collection  date
0              Pasto Limpo     terraclass_amz  2004
1                 Pastagem  mapbiomas_amz_4_1  2007
2             Desmatamento   prodes_amz_legal  2007
3              Pasto Limpo     terraclass_amz  2008
4                 Pastagem  mapbiomas_amz_4_1  2008
5                 Pastagem  mapbiomas_amz_4_1  2009
6              Pasto Limpo     terraclass_amz  2010
7                 Pastagem  mapbiomas_amz_4_1  2010
8                 Pastagem  mapbiomas_amz_4_1  2011
9              Pasto Limpo     terraclass_amz  2012
10                Pastagem  mapbiomas_amz_4_1  2012
11                Pastagem  mapbiomas_amz_4_1  2013
12             Pasto Limpo     terraclass_amz  2014
13                Pastagem  mapbiomas_amz_4_1  2014
14                Pastagem  mapbiomas_amz_4_1  2015
15                Pastagem  mapbiomas_amz_4_1  2016
16  Cultura Anual e Perene  mapbiomas_amz_4_1  2017
17  Cultura Anual e Perene  mapbiomas_amz_4_1  2018